<!-- partial comment view -->

<div class="well">
        
        <h4><%= comment.commenter %></h4>
       
         
        <p> <%= comment.body %></p>
    
        <!-- Create link with "Destroy Comment" text that links to article show view 
        but first shows confirm window to confirm that user wants to delete the 
        comment. If they confirm, the delete method is executed before going to 
        the show view.-->
        <%= link_to "Delete", [comment.article, comment],
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
</div>