<!-- Nav bar partial view -->

<nav class="navbar navbar-default navbar-static-top overlay">
    <div class="navbar-header">
        <h2><%= link_to "Mini-Golf Enthusiasts", root_path , class: "logo" %></h2>
    </div>
</nav>