<!-- Render partial nav view -->
<%= render "nav" %>

<div class="container-fluid">

    <h2>Enter edits below for: <%= @article.title %></h2>

    <%= link_to "Back to articles", article_path(@article), class: "back_link" %>

    <!--Render form partial for the edit method-->
    <%= render "form" %>

</div>