<!-- Render partial nav view -->
<%= render "nav" %>

<div class="container-fluid">

<%= link_to "Back to all articles", articles_path, class: "back_link" %>
    
    <h2>Add a New Mini-Golf Article</h2>

        <!--Render form partial for the new method-->
        <%= render "form" %> 
        
</div>