<!-- Render partial nav view -->
<%= render "nav" %>

<div class="container-fluid">
    <%= link_to "Back to all articles", articles_path, class: "back_link" %>

    <div class="center jumbotron">

        <h2><%= @article.title %></h2>

        <!-- Create link with "Edit" text that links to article edit view -->
        <p><%= link_to "Edit", edit_article_path(@article) %> | 

        <!-- Create link with "Destroy" text that links to article show view 
        but first shows confirm window to confirm that user wants to delete the 
        article. If they confirm the delete method is executed before going to 
        the show view.-->
        <%= link_to "Delete", article_path,
            method: :delete,
            data: { confirm: "Are you sure?" } %> </p>

        <p>
          <%= @article.text %>
        </p>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 well">
            <h4>Add a comment:</h4>
            <!-- render partial form in comments views folder -->
            <%= render "comments/form" %>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
            <h3>Comments:</h3>
            <!-- render comment partial view -->
            <%= render @article.comments[0...-1] %>
        </div>
    </div>
</div>