<!-- Homepage view -->

<h1>Mini-Golf Enthusiasts</h1>
<h3>because regular golf is hard</h3>

<%= link_to 'Go to the Blog', controller: 'articles' %>
<br>
<%= link_to 'Add a new article', new_article_path %>

