<!-- Homepage view -->
<div id="homepage" class ="container-fluid">
    <div class = "row">

        <div class="col-xs-12 col-sm-12 col-md-9">
            <h1>Mini-Golf Enthusiasts</h1>
            <h3>Because regular golf is too hard</h3>

            <%= button_to "Go the Blog", articles_path, :method => "get",
                class: "btn btn-success blog" %>
            <br>
            <%= button_to "Play a Game", game_index_path, :method => "get",
                class: "btn btn-success blog" %>
            
        </div>
    </div>
</div>