

<!-- base html template for all html views -->
<!DOCTYPE html>
<html>
    <head>
        <title>Mini-Golf Enthusiasts </title>
        <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
        <link href="https://fonts.googleapis.com/css?family=Fontdiner+Swanky" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
        <!--[if lt IE 9]>
            <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
            </script>
        <![endif]-->

    </head>

    <body>        
            <!-- Individual view contents will appear here. -->
            <%= yield %>
        
    </body>

</html>
